extends layout

block content

    <div class="container centered">
    <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Welcome to the Main Page</h1>
    <p class="mainText">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur molestiae delectus necessitatibus quos, asperiores voluptatem sint aperiam mollitia inventore hic quae perspiciatis explicabo suscipit nemo ea repellendus quo veniam labore?</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/index/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/index/password-reset/resetPage" role="button">Reset my password</a>
    </div>
    </div>
